#DBviewTree {
    width: 30%;
}
#DBviewData{
width: 67%;
/*height: inherit;*/
position: relative;
}
#DBviewTabsButtons {
    display: flex;
    cursor: pointer;
}

#SectionsDBview {
    display: flex;
    height: 100%;
    position: relative;
   /* position: absolute;
    width: 100%;*/
}

.DBviewTabs {
    width: 100%;
    overflow-x: scroll;
    font-family: sans-serif;
}
#DBviewData .ActivTabs
{
    display: block;
    height: inherit;
}
#DBviewData .noActivTabs
{
    display: none;
}
.DBviewTabs .ContentTab, .DBviewTabs input[type='radio'] {
    display: none;
}

.DBviewTabs .ContentTab {
    background-color: #fff;
    width: inherit;
    height: inherit;
    max-width: 100%;
    padding: 20px;
    float: left;
    /*position: absolute;*/
}

.DBviewTabs >input + label {
    display: inline-block;
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    color: #B3B3B3;
    background: #E7E7E7;
    margin-left: 0.25rem;
    
}

.DBviewTabs input:checked+label {
    font-weight: bold;
    border-bottom-color: #fff;
    background: #fff;
    color: #186baa;
}

.DBviewTabs input:checked+label+.ContentTab {
    display: block;
}
