::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}
html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

#FolderIcon
{
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400"><path fill="#dbb065" d="M1.5 35.5L1.5 4.5 11.793 4.5 14.793 7.5 38.5 7.5 38.5 35.5z"/><path fill="#967a44" d="M11.586,5l2.707,2.707L14.586,8H15h23v27H2V5H11.586 M12,4H1v32h38V7H15L12,4L12,4z"/></svg>');
}

ul>li {
    list-style-type: none
}

.tree-leaf-1, .tree-leaf-0 {
    letter-spacing: 0;
    cursor: pointer;
}

.ul-item-list {
    transition: height 1s;
}

.tree-leaf-1:hover {
    cursor: pointer;
    font-weight: 600
}

.tree-leaf-0 span:hover {
    cursor: pointer;
    font-weight: 600;
}

.tree-leaf-1 span.active, .tree-leaf-0 span.active {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

li>button>svg:first-child:hover {
    transform: scale(1.2);
}

li>button>svg+svg>path {
    color: goldenrod;
}